<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ ctitle }}{% endblock title %}</title> 
    <script src="/template.v2.js"></script>
</head>
<body>
    <dt-header></dt-header>
    <d-article> 
        <!-- some preface text --!>
        {% block preface %}{{ preface }}{% endblock preface %}
        
        <hr>

    <d-article>
    
    <d-appendix>
    <h3>ICENSE</h3>
    <p>
      <b>MIT License:</b> A short and simple permissive license with conditions only requiring preservation of copyright and license notices.
    </p>
    </d-appendix>  
    
    <dt-footer></dt-footer>
</body>
