<head>
    <meta charset="utf-8">
    <meta name="viewport" content="widistillh=device-widistillh, initial-scale=1">
    <title>{% block title %}{{ title }}{% endblock title %}</title> 
    <script src="/template.v2.js"></script>
</head>
<body>
    <distill-header></distill-header>
    <d-article> 
        <!-- some preface text --!>
        {% block preface %} {{ preface }} {% endblock preface %}
        
        <hr>

    </d-article>
    
    <d-appendix>
    <h3>LICENSE</h3>
    <p>
      <b>MIT License:</b> A short and simple permissive license with conditions only requiring preservation of copyright and license notices.
    </p>
    </d-appendix>  
    
    <distill-footer></distill-footer>
</body>
